@model FSMS_asp.net.Models.Account.AccountIndexViewModel

@{
    ViewData["Title"] = "Profile Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title and Breadcrumb -->
<div class="d-flex justify-content-between pe-3">
    <h1 class="ps-4 pb-1 title">
        <i class="bi bi-gear"></i> Profile Setting
    </h1>

    <div class="d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Profile Setting</li>
        </ol>
    </div>
</div>

<!-- Container of table -->
<div class="container">

    <div class="card">

        <!--Edit Information-->
        <div class="container p-3">
            @Html.Partial("_EditInformation", Model.EditInformationModel)
        </div>


        <hr />

        <!--Change Password-->
        <div class="container p-3 pt-1">
            @Html.Partial("_ChangePassword", Model.ChangePasswordModel)
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
