@model FSMS_asp.net.Models.UsersCreateViewModel

@{
    ViewData["Title"] = "Create Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title and Breadcrumb -->
<div class="d-flex justify-content-between">
    <h1 class="ps-4 pb-1 title">
        <i class="bi bi-people-fill"></i> Create Users
    </h1>

    <div class="d-flex align-items-center pe-4 pe-sm-0">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="col-12 p-2 pt-1">

            <!-- Form -->
            <form asp-action="Create">
                <!--Validation Summary-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Name -->
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <br>

                <div class="row">
                    <!-- H/P No -->
                    <div class="form-group col-md-6">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <!-- Break line when small screen size -->
                    <div class="d-block d-md-none d-lg-none d-xl-none d-xxl-none">
                        <br>
                    </div>

                    <!-- Email Address -->
                    <div class="form-group col-md-6">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <br>

                <!-- Address -->
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <br>

                <!-- Email -->
                <div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <div class="row">
                    <!-- Password -->
                    <div class="form-group col-md-6">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Break line when small screen size -->
                    <div class="d-block d-md-none d-lg-none d-xl-none d-xxl-none">
                        <br>
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group col-md-6">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <!-- Submit Button -->
                <div class="d-flex align-items-end justify-content-end">
                    <button type="submit" class="btn btn-primary" name="createCustomer">
                        <i class="bi bi-person-plus-fill"></i> Create
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
