@using Newtonsoft.Json
@model FSMS_asp.net.Models.Sales_Report.SalesReportViewModel

@{
    ViewData["Title"] = "Sales Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title and Breadcrumb -->
<div class="d-flex justify-content-between pe-3">
    <h1 class="ps-4 pb-1 title">
        <i class="bi bi-file-bar-graph-fill me-1 ms-2"></i> Sales Reports
    </h1>

    <div class="d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Sales Reports</li>
        </ol>
    </div>
</div>

<!-- Container of table -->
<div class="container">

    <div class="card">
        <!-- Card Header -->

        <form asp-action="Generate" method="post" id="generate">
            <div class="d-flex card-header justify-content-between">

                <!-- StartDate -->
                <div class="col-md-4">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" asp-format="{0:yyyy-MM-dd}" />
                    <span id="startDateWarning" class="text-danger"></span>
                </div>

                <!-- Space -->
                <div class="col-md-2"></div>

                <!-- EndDate -->
                <div class="col-md-4">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" asp-format="{0:yyyy-MM-dd}" />
                    <span id="endDateWarning" class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="col-md-2 d-flex align-items-end flex-column">
                    <button type="submit" class="btn btn-primary mt-auto"><i class="bi bi-clipboard-data-fill"></i> Generate</button>
                </div>
            </div>

        </form>

        <!-- Card Body and Table -->
        <div class="card-body" id="body">

            @if (Model.StartDate != null && Model.EndDate != null)
            {
                <div class="col-12 p-2 pt-1" id="printArea">
                    <!-- Store Name -->
                    <div class="container d-flex justify-content-center">
                        <div>
                            <h3 style="font-weight:bold;">LEAN AIK FURNITURE</h3>
                            <address class="mb-0">4995, TINGKAT BAWAH JALAN NEW FERRY, BUTTERWORTH,</address>
                            <address class="mb-0">12100, PULAU PINANG, MALAYSIA.</address>
                            <address class="mb-0">Tel: 04-1234567 Fax: 04-1234567 Email: lean_aik@gmail.com</address>
                        </div>
                    </div>

                    <br>

                    <!-- Date and Title -->
                    <div class="container d-flex justify-content-center">
                        <div>
                            <h5>
                                <b id="title"></b>
                            </h5>
                        </div>
                    </div>

                    <!-- Bold Line -->
                    <hr style="height:3px;border-width:0;color:gray;background-color:gray" class="mb-1 mt-1">

                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th style="width: 5%;">#</th>
                                <th style="width: 15%;">Date</th>
                                <th style="width: 20%;">Invoice No.</th>
                                <th style="width: 20%;">Customer</th>
                                <th style="width: 20%;"></th>
                                <th style="width: 20%;">Amount</th>
                            </tr>
                        </thead>
                    </table>

                    <table class="table table-borderless">

                        <tbody id="invoiceList">
                        </tbody>

                    </table>

                    <!-- Sales Report Footer -->
                    <div class="printFooter">
                        <!-- Bold Line -->
                        <hr style="height:3px;border-width:0;color:black;background-color:black; opacity: 100%;" class="mb-1 mt-1">

                        <!-- Total Amount -->
                        <table class="table">
                            <tr>
                                <th style="width: 5%;"></th>
                                <th style="width: 15%;"></th>
                                <th style="width: 20%;"></th>
                                <th style="width: 20%;"></th>
                                <th style="width: 20%;" class="text-end"> Total Amount (RM): </th>
                                <th style="width: 20%;" class="text-center" id="totalAmount"></th>
                            </tr>
                        </table>
                    </div>



                    <!-- end of printArea -->
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" id="printButton"><i class="bi bi-printer-fill"></i> Print</button>
                </div>
            }
            else
            {
                <div class="container d-flex justify-content-center">
                    <div>
                        Please enter start date and end date.
                    </div>
                </div>
            }

        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        //initialized
        $('#startDateWarning').text("");
        $('#endDateWarning').text("");
        //$('#title').text("Sales Report From " + '@Model.StartDate' + " to " + '@Model.EndDate');

        $('#generate').submit(function (e) {
            e.preventDefault();

            //clear warning text
            $('#startDateWarning').text("");
            $('#endDateWarning').text("");

            //clear all row
            $("#invoiceList").empty();

            //get startDate and endDate
            var startDate = $('#StartDate').val();
            var endDate = $('#EndDate').val();
            var formattedStartDate = $.datepicker.formatDate('d/m/yy', new Date(startDate));
            var formattedEndDate = $.datepicker.formatDate('d/m/yy', new Date(endDate));

            //validate startdate and enddate
            if (startDate == null && endDate == null) {
                $('#startDateWarning').text("Start Date is required");
                $('#endDateWarning').text("End Date is required");
            }
            else if (startDate == null) {
                $('#startDateWarning').text("Start Date is required.");
            }
            else if (endDate == null) {
                $('#endDateWarning').text("Start Date is required.");
            }
            //if validate success
            else if (startDate != null && endDate != null) {
                //ajax the start date and end date to controller
                $.ajax({
                    method: "POST",
                    url: "Generate",
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    dataType: "json",
                    success: function (data) {


                        //set the title
                        $('#title').text("Sales Report From " + formattedStartDate + " to " + formattedEndDate);
                        
                        console.log(data);
                        var totalAmount = parseFloat(0);
                        //add row
                        var invoices = JSON.parse(JSON.stringify(data));
                        for (var i in invoices) {
                            var no = parseInt(i) + parseInt(1);
                            var invoiceDate = toDate(invoices[i].date);
                            var customerName = invoices[i].customerName;
                            var invoiceNo = '' + invoices[i].id;
                            var formattedInvoiceNo = invoiceNo.padStart(10, '0');
                            var invoiceAmount = parseFloat(invoices[i].totalAmount).toFixed(2);
                            totalAmount = parseFloat(invoiceAmount) + parseFloat(totalAmount);

                            //add row
                            $('#invoiceList').append('<tr class="text-center"><td style="width: 5%;">' + no + '</td><td style="width: 15%;">' + invoiceDate + '</td><td style="width: 20%;">INV ' + formattedInvoiceNo + '</td><td style="width: 20%;">' + customerName + '</td><td style="width: 20%;"></td><td style="width: 20%;">' + invoiceAmount + '</td></tr> ');

                        }

                        $('#totalAmount').text(totalAmount.toFixed(2));

                    },
                    error: function (response) {
                        alert("Error occured when retrieved data from database.");
                    }
                });

                
            }


        });

        //Print Area
        $("#printButton").on("click", function () {
            $("#printArea").printThis();
        })

    });

    function toDate(dateStr) {
        var parts = dateStr.split("-");
        var date = parts[2].split("T");
        var date = new Date(parts[0], parts[1], date[0]);
        var stringDate = $.datepicker.formatDate('dd/mm/yy', date);
        return stringDate;
    }
</script>