@using Newtonsoft.Json
@model FSMS_asp.net.Models.Sales_Report.SalesReportViewModel

@{
    ViewData["Title"] = "Sales Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title and Breadcrumb -->
<div class="d-flex justify-content-between pe-3">
    <h1 class="ps-4 pb-1 title">
        <i class="bi bi-file-bar-graph-fill me-1 ms-2"></i> Sales Reports
    </h1>

    <div class="d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Sales Reports</li>
        </ol>
    </div>
</div>

<!-- Container of table -->
<div class="container">

    <div class="card">
        <!-- Card Header -->

        <form asp-action="Generate" method="post" id="generate">
            <div class="d-flex card-header justify-content-between">

                <!-- StartDate -->
                <div class="col-md-4">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
                    <span id="startDateWarning" class="text-danger"></span>
                </div>

                <!-- Space -->
                <div class="col-md-2"></div>

                <!-- EndDate -->
                <div class="col-md-4">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" asp-format="{0:yyyy-MM-dd}/>
                    <span id="endDateWarning" class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="col-md-2 d-flex align-items-end flex-column">
                    <button type="submit" class="btn btn-primary mt-auto"><i class="bi bi-clipboard-data-fill"></i> Generate</button>
                </div>
            </div>

        </form>

        <!-- Card Body and Table -->
        <div class="card-body" id="salesReport">

        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        //initialized
        $('#startDateWarning').text("");
        $('#endDateWarning').text("");

        $('#generate').submit(function (e) {
            e.preventDefault();

            //clear warning text
            $('#startDateWarning').text("");
            $('#endDateWarning').text("");

            //get startDate and endDate
            var startDate = $('#StartDate').val();
            var endDate = $('#EndDate').val();

            //condition of date type input, if no date is enter then return NaN
            //cause date type input always not null
            var startDateCondition = Date.parse($('#StartDate').val());
            var endDateCondition = Date.parse($('#EndDate').val());

            //validate startdate and enddate
            if (!startDateCondition && !endDateCondition) {
                $('#startDateWarning').text("Start Date is required");
                $('#endDateWarning').text("End Date is required");
            }
            else if (!startDateCondition) {
                $('#startDateWarning').text("Start Date is required.");
            }
            else if (!endDateCondition) {
                $('#endDateWarning').text("Start Date is required.");
            }
            //if validate success
            else if (startDateCondition && endDateCondition) {
                //ajax the start date and end date to controller
                $.ajax({
                    method: "GET",
                    url: "Generate",
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: function (partialViewResult) {
                        $('#salesReport').html(partialViewResult);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.log(status);
                        console.log(error);
                    }
                });

                
            }


        });

        //Print Area
        $("#printButton").on("click", function () {
            $("#printArea").printThis();
        })

    });
</script>